#.env
PORT=3000
DB_USER= #Usuaro de base de datos
DB_PASSWORD= #Contraseña de base de datos
DB_HOST= #host de base de datos
DB_PORT=5432
DB_NAME=#nombre de base de datos
JWT_SECRET= #secret

#RabbitMQ Config
RabbitMQ_HOST= #localhost